<div class="button-container">
    <button color="primary" mat-raised-button routerLink="/visits/create" [title]='"Click here to add new Visit"'>
        <span class="material-icons">add_circle_outline</span>
        Add new Visit
    </button>
</div>

<div class="entity-table">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    ID
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

            <!-- Second name Column -->
            <ng-container matColumnDef="visitDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.date | date:'medium'}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button [title]="'User'"
                            (click)="openUserDetails(element.userId)">{{element.userId}}</button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="doctor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> doctor</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button [title]="'Docotr details'" (click)="openDoctorDetails(element.doctorId)">
                        {{element.doctorId}}
                    </button>

                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>


        </mat-table>

        <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                       [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                       showFirstLastButtons></mat-paginator>

    </div>
</div>
<div>{{today |date:'medium'}}</div>